<div class='container'>

  <div class="row mt-3">
    <div class="col-lg-3">
      <h4 class="m-3" style="background-color: #ccc;" align="center">商品一覧</h4>
    </div>
     
    <div class="col-lg-1 offset-lg-8">
      <%= link_to "+", new_admin_item_path, class: "btn btn-secondary rounded-circle p-0,width:2rem;height:2rem" %>
    </div>
  </div>
     
      <table class="table table-borderless mt-3">
        <thead class="table-dark">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

       <% @items.each do |item| %>
        <tbody>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.price %></td>
            <td><%= item.genre.name %></td>
            <td>
                <% if item.is_sold_out == true %>
                  販売停止中
                <% else %>
                  販売中
                <% end %>
            </td>
          </tr>
        </tbody>
       <% end %>
      </table>
   
      <div class="pagination justify-content-center mt-2">
        <%= paginate @items %>
      </div>   

</div>


