<h5>配送先編集</h5>

<%= form_with model: @address, url: address_path(@address) do |f| %>
<%= f.label :postcode, "郵便番号(ハイフンなし)" %>
<%= f.text_field :postcode %><br>
<%= f.label :address, "住所" %>
<%= f.text_field :address %><br>
<%= f.label :name, "宛名" %>
<%= f.text_field :name %>
<%= f.submit "変更内容を保存", class: "btn btn-success btn-sm" %>
<% end %>