<h5>配送先登録 / 一覧</h5>

<%= form_with model: @address, url: addresses_path do |f| %>
<%= f.label :postcode, "郵便番号(ハイフンなし)" %>
<%= f.text_field :postcode %><br>
<%= f.label :address, "住所" %>
<%= f.text_field :address %><br>
<%= f.label :name, "宛名" %>
<%= f.text_field :name %>
<%= f.submit "新規登録", class: "btn btn-success btn-sm" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th class="table-secondary">郵便番号</th>
      <th class="table-secondary">住所</th>
      <th class="table-secondary">宛名</th>
      <th class="table-secondary"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postcode %></td>
      <td><%= address.address %></td>
      <td><%= address.name %></td>
      <td>
      <%= link_to "編集する", edit_address_path(address), class: "btn btn-success btn-sm" %>
      <%= link_to "削除する", address_path(address), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger btn-sm" %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>