<div class = "conteiner">
  <div class = "row justify-content-between mt-3">
      <div class = "col-lg-4 offset-lg-2">
        <h4>ショッピングカート</h4>
      </div>
      <div class = "col-lg-4">
        <%= link_to 'カートを空にする',destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
      </div>
  </div>
  <div class = "col-lg-8 mx-auto mt-3 ">
    <%= render 'cart', cart_items: @cart_items, total: @total %>
  <div class = "row justify-content-between">
  <div class = "col-lg-4"><%= link_to '買い物を続ける', items_path, class: "btn btn-primary" %></div>
    <table class = "col-lg-4 table table-bordered">
      <tr>
        <th class = "table-secondary">合計金額</th>
        <th><%= @total %></th>
      </tr>
    </table>
    </div>
    <div class = "row mx-auto" >
      <div class = "col-lg-6 offset-lg-5 mt-5">
      <%= link_to '情報入力に進む', orders_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>