<div class='container'>

  <div class="row">
    
    <div class="col-md-2">
        <%= render 'genre_search', genres: @genres  %>
    </div>

    <div class="col-md-8">
    <h2>商品一覧<small>（全 <%= @item.count %> 件）</h2>
    
    <div class="d-flex flex-wrap">
      <% @items.each do |item| %>
        <td>
          <%= image_tag item.image, size: "50x50" %>
          <%= link_to item.name, item_path(item.id) %>
          <%= item.price %>
        </td>
      <% end %>
    </div>
      
    <%= paginate @items %>
    
    </div>

  </div>
 
</div>