<div class='container'>

  <div class="row">
    
     <div class="col-md-2">
        <%= render 'genre_search', genres: @genres  %>
     </div>
    
     <div class="col-md-3 offset-1">
       <%= image_tag @item.image, size: "200x200" %>
     </div>
      
     <div class="col-md-5">
       <h3><%= @item.name %></h3>
         <p><%= @item.introduction %></p>
         <p>¥<%= (@item.price*1.08).floor %><small>（税込）</p>

         <%= form_with model:@cart_item do |f| %>
           <%= f.number_field :quantity, in: 1..100 %>
           <%= f.hidden_field :item_id, :value => @item.id %>
           <%= f.submit "カートに入れる" %>
         <% end %>
     </div>

  </div>
</div>
