

<h3><%= @item.name %></h3>
  <p><%= @item.introduction %></p>
  <p><%= @item.price %></p>


  <%= form_with model:@cart_item do |f| %>
    <%= f.number_field :quantity, in: 1..100 %>
    <%= f.hidden_field :item_id, :value => @item.id %>
    <%= f.submit "カートに入れる" %>
  <% end %>

