<div class='container'>
  <div class="row mt-5">
    
     <div class="col-lg-2">
        <%= render 'genre_search', genres: @genres  %>
     </div>
    
     <div class="col-lg-3 offset-lg-1">
       <%= image_tag @item.image, size: "200x200" %>
     </div>
      
     <div class="col-lg-5">
       <h4><%= @item.name %></h4>
         <p><%= @item.introduction %></p>
         <p>¥<%= (@item.price*1.08).floor %><small>（税込）</p>

         <%= form_with model:@cart_item do |f| %>
           <%= f.number_field :quantity, in: 1..100 %>
           <%= f.hidden_field :item_id, :value => @item.id %>
           <%= f.submit "カートに入れる", class: "btn btn-success" %>
         <% end %>
     </div>

  </div>
</div>
